.nav navbar-nav li{
  margin:0px;
  padding:0px;
  float:left;
  position:relative;
  box-shadow: 2px 2px 4px 1px #000;
}
.nav navbar-nav li a{
  display: block;
  width: 100px;
  height: 30px;
  padding: 6px;
  line-height:30px;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  background-color: #063;
  position: relative;
  border-left: 2px solid #333;

}
.nav navbar-nav li a:hover{
  color:#CF3;
  background-color:#603;
}

.nav navbar-nav ul{
    position:absolute;
  left:10px;
  top:36px;
  margin:0px;
  list-style:none;
  padding:0px;
  opacity:0;
  transition:opacity .35s ease .2s;
  -webkit-transition:opacity .35s ease .2s;
  -moz-transition:opacity .35s ease .2s;
  -o-transition:opacity .35s ease .2s;
  visibility:hidden;
}
.nav navbar-nav ul li a{
  border-bottom:2px solid #333;
  border-left:none;
  display:block;
  text-align:left;
}

.nav navbar-nav li:hover ul{
    opacity:1;
  visibility:visible;
}
